<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
	<div id="left-bar" class="col">
		<div class="card">
			<div class="card-header">Book Search</div>
			<form th:action="@{/home}" class="card-body">

				<div class="mt-2">
					<label class="form-label" for="category">Category</label> <select
						id="category" name="category" class="form-select">
						<option value="">Search Category</option>
						<th:block th:each="c : ${categories}">
							<option th:value="${c.id}"
								th:text="${c.name}">
							</option>
						</th:block>
					</select>
				</div>

				<div class="mt-3">
					<label class="form-label" for="keyword">Keyword</label> <input
						id="keyword" name="keyword" type="text"
						placeholder="Search Keyword" class="form-control mt-1" />
				</div>

				<div class="d-grid gap-2 mt-3">
					<button class="btn btn-secondary" type="submit">Search</button>
					<a href="#" class="btn btn-primary">Upload</a> <a
						th:href="@{/book/edit}" class="btn btn-danger">Addd New</a>
				</div>

			</form>

		</div>
	</div>
</body>
</html>